* {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  font-family: Raleway, sans-serif;
  line-height: 2em;
  background: #fff8b7;
}

#wrapper {
  border: solid 5px;
  width: 640px;
  text-align: left;
  padding: 40px;
  margin: 50px auto;
  background: linear-gradient(#fce42d, #fff6ba);
  border-radius: 10px;
}

h1 {
  text-align: center;
}

#orderProducts {
  text-align: center;
}

#numProduct {
  width: 50px;
}

#userName {
  width: 250px;
}

#userStreet {
  width: 400px;
}

#userState {
  width: 50px;
}

#userZip {
  width: 100px;
}

input, select {
  border: solid 2px;
  padding: 5px;
  margin: 5px;
}

input:focus {
  background: #fff6ba;
}



button {
  font-size: 1.5em;
  padding: 10px;
  border: solid 4px;
  border-radius: 5px;
  background: linear-gradient(#fff6ba, #fce42d);
  margin: 20px;
}

button:hover {
  background: #fff6ba;
  box-shadow: 2px 2px 2px #91860f;
}

.center {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

#itemRemovedP {
  display: none;
}

#userInfoSaved {
  display: none;
}

#orderConfirmed {
  display: none;
}

.cartItem {
  position: relative;
  left: 350px;
  top: -30px;
  border: solid 3px;
  border-radius: 10px;
}
